/* HELPERS */


/* SPACINGS */
.p-20 {
    padding: 20px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}

/* TEXT */
.text-white {
    color: var(--white) !important;
}
.text-danger {
    color: var(--red) !important;
}
.text-right {
    text-align: right;
}

/* Backgrounds */
.bg-grey {
    background-color: var(--grey);
}

/* Displays */
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}


/* MISC */
.full-screen {
    width: 100vw;
    height: 100vh;
}
.align-item-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.d-flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.overflow-hidden {
    overflow: hidden;
}
.w-100 {
    width: 100%;
}
