/* home-slide in/out animations */
.is-next .home-slide-enter,
.is-next .home-slide-exit {
  transition: transform 200ms ease-out;
}

.is-next .home-slide-enter {
  transform: translateX(100%);
}

.is-next .home-slide-enter.home-slide-enter-active {
  transform: translateX(0%);
}

.is-next .home-slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.is-next .home-slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}



.is-prev .home-slide-enter,
.is-prev .home-slide-exit {
  transition: transform 200ms ease-out;
}

.is-prev .home-slide-enter {
  transform: translateX(-100%);
}

.is-prev .home-slide-enter.home-slide-enter-active {
  transform: translateX(0%);
}

.is-prev .home-slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.is-prev .home-slide-exit-active {
  opacity: 0;
  transform: translateX(105%);
}