/* Can add full app imports, defaults and base styles here */
@import '~antd/dist/antd.css';


body {
    --white: #fff;
    --black: #000;
    --grey: #f5f5f5;
    --red: #ff4d4f;
}


@import "./css/all.css";